<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<title>Employee Panel</title>
</head>
<link th:replace="fragments/parts.html :: bootstrap_css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body onload="navbarActivate('nav_user_panel')">
	<div th:replace="fragments/parts.html :: navbar"></div>
	<br>
	<h1>Employee Panel</h1>

	<div class="container px-5 my-5">
		<form id="contactForm" th:action="@{/employee}" method=post
			th:object="${search}">
			<div class="form-floating mb-3">
				<input class="form-control" id="search" th:field="*{search}"
					type="text" placeholder="search" required /> <label for="search">Search</label>
			</div>
			<div class="d-grid">
				<button class="btn btn-primary btn-lg" id="submitButton"
					type="submit">Search</button>
			</div>
		</form>
	</div>

	<div th:if="${param.success}">
		<div th:if="${success_msg}" class="alert alert-info"
			th:utext="${success_msg}">Success</div>
	</div>
	<div th:if="${param.error}">
		<div th:unless="${error_msg}" class="alert alert-danger">Error</div>
		<div th:if="${error_msg}" class="alert alert-danger"
			th:utext="${error_msg}">Error</div>
	</div>


	<table th:unless="${foundUsers} or ${user}"
		class="table table-striped table-hover table-sm table-primary ">
		<thead>
			<tr>
				<th>User</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.role.name}" />
				<td th:text="${user.lastName}" />
				<td th:text="${user.firstName}" />
				<td th:text="${user.email}" />
				<td />
			</tr>
		</tbody>

	</table>

	<div th:if="${foundUsers}">

		<h3>Users found:</h3>

		<table class="table table-striped table-hover table-sm table-primary ">
			<thead>
				<tr>
					<th></th>
					<th>User</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${foundUsers}">
					<td>
						<form th:action="@{/employee/resetUserPassword}" method=post>
							<input type="hidden" th:value="${user.email}" name="email" /> <input
								type="hidden" th:value="${search.search}" name="search" />
							<button type="submit" class="btn btn-primary">
								Reset&nbsp;Password</button>
						</form>
					</td>
					<td th:text="${user.role.name}" />
					<td th:text="${user.lastName}" />
					<td th:text="${user.firstName}" />
					<td th:text="${user.email}" />
					<td>
						<form th:action="@{/employee/viewUserReservations}" method=post>
							<input type="hidden" th:value="${user.email}" name="email" /> <input
								type="hidden" th:value="${search.search}" name="search" />
							<button type="submit" class="btn btn-primary">
								View&nbsp;Reservations</button>
						</form>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

	<div th:if="${foundReservations}">

		<h3>Confirmations found:</h3>

		<table class="table table-striped table-hover table-sm table-success ">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Confirmation</th>
					<th>STATUS</th>
					<th>Hotel</th>
					<th>Address</th>
					<th>Room<br>Number
					</th>
					<th>Occupancy</th>
					<th>Allow<br>Smoking
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="res: ${foundReservations}">
					<td th:text="${res.user.email}" />
					<td>[[${res.user.lastName}]], [[${res.user.firstName}]] </td>
					<td th:text="${res.confirmation}" />

					<td th:text="${res.status}" />
					<td th:text="${res.building.name}" />
					<td th:text="${res.building.address}" />
					<td th:text="${res.room.number}" />

					<td th:if="${res.room.occupancy} != 1" th:text="Double" />
					<td th:unless="${res.room.occupancy} != 1" th:text="Single" />

					<td th:if="${res.room.smoking} == true" th:text="Yes" />
					<td th:unless="${res.room.smoking} == true" th:text="No" />

					<td>
						<div th:if="false and ${res.active}==true">
							<a th:if="${res.status} == 'BOOKED'" class="btn btn-primary"
								th:href="@{/user/cancel(confirmation=${res.id})}">Cancel
								Booking</a> <a th:if="${res.status} == 'CHECKEDIN'"
								class="btn btn-primary"
								th:href="@{/user/checkOut(confirmation=${res.id})}">Checkout</a>
						</div>
					</td>

				</tr>
			</tbody>

		</table>

	</div>



	<div th:if="${user}">
	<h4>User information:</h4>
		<p>
			[[${user.lastName}]], [[${user.firstName}]]<br>[[${user.email}]]
		</p>
	</div>


	<div th:if="${reservations}">

		<h4>Reservations:</h4>

		<table class="table table-striped table-hover table-sm table-success ">
			<thead>
				<tr>
					<th></th>
					<th>Confirmation</th>
					<th>STATUS</th>
					<th>Hotel</th>
					<th>Address</th>
					<th>Room<br>Number
					</th>
					<th>Occupancy</th>
					<th>Allow<br>Smoking
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="res: ${reservations}">
					<td><div th:if="false and ${res.active}==true">
							<a th:if="${res.status} == 'BOOKED'" class="btn btn-primary"
								th:href="@{/user/checkIn(confirmation=${res.id})}">Checkin</a>
						</div></td>
					<td th:text="${res.confirmation}" />

					<td th:text="${res.status}" />
					<td th:text="${res.building.name}" />
					<td th:text="${res.building.address}" />
					<td th:text="${res.room.number}" />

					<td th:if="${res.room.occupancy} != 1" th:text="Double" />
					<td th:unless="${res.room.occupancy} != 1" th:text="Single" />

					<td th:if="${res.room.smoking} == true" th:text="Yes" />
					<td th:unless="${res.room.smoking} == true" th:text="No" />

					<td>
						<div th:if="false and ${res.active}==true">
							<a th:if="${res.status} == 'BOOKED'" class="btn btn-primary"
								th:href="@{/user/cancel(confirmation=${res.id})}">Cancel
								Booking</a> <a th:if="${res.status} == 'CHECKEDIN'"
								class="btn btn-primary"
								th:href="@{/user/checkOut(confirmation=${res.id})}">Checkout</a>
						</div>
					</td>

				</tr>
			</tbody>

		</table>

	</div>


	<script th:replace="fragments/parts.html :: bootstrap_script"></script>
	<script src="js/script.js" defer></script>
</body>
</html>