<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:replace="fragments/parts.html :: bootstrap_css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>User Registration</title>
</head>
<body>
	<div th:replace="fragments/parts.html :: navbar"></div>
	<br>
	<br>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-6 col-md-offset-3">
				<div th:if="${param.success}">
					<div class="alert alert-info">You have successfully registered!</div>
				</div>
				<h1 class="mb-4">Registration</h1>
				<form th:action="@{/registration}" th:object="${user}" method="post">
					<div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
					<p class="error-message" th:each="error : ${#fields.errors('global')}"
						th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-outline mb-4" th:classappend="${#fields.hasErrors('firstName')}? 'is-invalid':''">
						<label for="firstName" class="form-label fw-bold">First Name</label>
						<input id="firstName" class="form-control" th:field="*{firstName}" placeholder="First Name" 
						th:classappend="${#fields.hasErrors('firstName')}? 'is-invalid':''" />
						<p class="error-message invalid-feedback" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-outline mb-4" th:classappend="${#fields.hasErrors('lastName')}? 'is-invalid':''">
						<label for="lastName" class="form-label fw-bold">Last Name</label>
						<input id="lastName" class="form-control" th:field="*{lastName}" placeholder="Last Name" 
						th:classappend="${#fields.hasErrors('lastName')}? 'is-invalid':''" />
						<p class="error-message invalid-feedback" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-outline mb-4" th:classappend="${#fields.hasErrors('email')}? 'is-invalid':''">
						<label for="email" class="form-label fw-bold">Email</label>
						<input id="email" class="form-control" th:field="*{email}" placeholder="Email" 
						th:classappend="${#fields.hasErrors('email')}? 'is-invalid':''" />
						<p class="error-message invalid-feedback" th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-outline mb-4" th:classappend="${#fields.hasErrors('confirmEmail')}? 'is-invalid':''">
						<label for="confirmEmail" class="form-label fw-bold">Confirm Email</label>
						<input id="confirmEmail" class="form-control" th:field="*{confirmEmail}" placeholder="Confirm Email" 
						th:classappend="${#fields.hasErrors('confirmEmail')}? 'is-invalid':''"/>
						<p class="error-message invalid-feedback" th:each="error : ${#fields.errors('confirmEmail')}" th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-outline mb-4" th:classappend="${#fields.hasErrors('password')}? 'is-invalid':''">
						<label for="password" class="form-label fw-bold">Password</label>
						<input id="password" class="form-control" type="password" th:field="*{password}" placeholder="Password" 
						th:classappend="${#fields.hasErrors('password')}? 'is-invalid':''"/>
						<p class="error-message invalid-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
					</div>
					<div class="form-outline mb-4" th:classappend="${#fields.hasErrors('confirmPassword')}? 'is-invalid':''">
						<label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
						<input id="confirmPassword" class="form-control" type="password" th:field="*{confirmPassword}" placeholder="Confirm Password" 
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'is-invalid':''"/>
						<p class="error-message invalid-feedback" th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
					</div>
					
					<div class="form-outline mb-4">
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:replace="fragments/parts.html :: bootstrap_script"></script>
	<script src="js/script.js" defer></script>
</body>
</html>